.highlight{
  color:red !important;
}
.wanikani-apprentice{
color : #F300A2 !important;
}
.wanikani-guru{
  color :#9F34B9 !important;
}
.wanikani-master{
color : #4765E0 !important;
}
.wanikani-enlighten{
color :#009CEA !important;
}
.wanikani-burned{
color :#B04A49 !important;
}
